<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1}]')
 });
 </script>

<% content_for :title do %>VisionECT dashboard<% end %>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="clock" data-view="Clock"
//		data-second-time-offset="-1" data-third-time-offset="-3"
		></div>
	  <i class="fa fa-clock-o icon-background"></i>
	</li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Argonne Weather" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1.5" data-sizey="1">
      <div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#eee;" data-moreinfo="Recent tweets from @CeC"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

  </ul>
</div>
